body {
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(21, 23, 36);
}

#welcome img{
    width: 70%;
}

.container{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(26, 6, 72);
}

#controls{
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: brown;
}

#header-list{
    font-size: 15px;
    height: 40px;
    background-color: rgb(26, 6, 72);
    color: white;
  }
  
  #header-page img{
    width: 100%;
}

.all-crypto{
    display: flex; 
    align-items: center;
    height: 80px;
    font-weight: 600;
    color: rgba(24, 23, 23, 0.884);
    background-color: white;
    border-bottom: 15px solid rgb(243, 243, 243);
}
  
  .all-crypto img{
    width: 34px;
    padding: 0 10px 0 10px;
  }
  
  .all-crypto .assets{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px 0 10px;
}

.coin-symbol{
    text-align: center;
    width: 5.5%;
    font-size: 24px;
}

#header-list .coin-symbol {
  font-size: 18px;
}

.coin-name{
    width: 20%;
    text-align: left;
}

.coin-rank{
    width: 3%;
    text-align: center;
}

.coin-price{
    text-align: right;
    width: 15%;
    padding-right: 10px;
}

.coin-volume{
    text-align: right;
    width: 20%;
    padding-right: 10px;
}

.coin-percent{
    text-align: right;
    width: 5%;
    padding-right: 10px;
}
